@import url('https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css');


#avatar {
  border-radius: 50%;
  max-width: 300px;
  height: auto;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

