{{ define "main" }}

<section class="section my-6 py-6">

  <div class="container custom">

    <h1 class="title mt-5 is-size-3 has-text-black">{{ .Title }}</h1>

    <div class="columns is-mobile">

      <div class="column">
        <div class="tags">
          {{ range .Params.tags }}
            <span class="tag is-info"> {{ . }} </span>
          {{ end }}
        </div>
      </div>

      <div class="column is-narrow has-text-right">
        <span class="tag is-white is-pulled-right">
          <span class="icon"> <i class="fas fa-calendar-alt"></i> </span>
          <span>{{ .Date.Format "2 Jan 2006" }}</span>
        </span>
      </div>

    </div>

    <hr>

    <div class="content mt-5">
      {{ .Content }}
    </div>
  
    <hr>

    {{ partial "comments.html" . }}

  </div>

</section>

{{ end }}