{{ define "main" }}

<section class="section my-6 py-6">

  <div class="container has-text-centered">
      
    <figure class="image mt-10 is-inline-block" id="avatar">
      <img class="image is-1by1 is-rounded" src="{{ .Site.Params.avatar }}" alt="Avatar"/>
    </figure>
    
    <h1 class="title new-rocker-regular mt-5 is-size-2 has-text-black">{{ .Site.Title }}</h1>

    <a href="https://linkedin.com/in/d-krylov/" target="_blank" class="icon is-large">
      <i class="fab fa-linkedin-in fa-2x href-icon-color"></i>
    </a>

    <a href="https://github.com/d-krylov" target="_blank" class="icon is-large">
      <i class="fab fa-github fa-2x href-icon-color"></i>
    </a>

  </div>

</section>

{{ end }}