<div class="card">
  <a href="{{ .Get "url" }}" target="_blank">
    <div class="card-image">
      <figure class="image is-16by9">
         <img 
          src="https://www.shadertoy.com/media/shaders/{{ .Get "id" }}.jpg"
          alt="Shader preview"
          loading="lazy"
          onerror="this.onerror=null; this.src='/images/shadertoy/{{ .Get "id" }}.jpg';">
      </figure>
    </div>
  </a>
  <div class="card-content">
    <div class="content">
      <p class="title pacifico-regular is-5">{{ .Get "title" }}</p>
    </div>
  </div>
</div>
